####################################################################
# WhiteSource UA configuration file
####################################################################
offline = false
wss.url = https://dev.whitesourcesoftware.com/agent
resolveAllDependencies = true

log.level=debug
##################################
# Organization tokens:
##################################
apiKey = 85121f461a57497a8146f6137c35e543d3a5ac6051bb4e7dae2151f2d9a6fba2
projectName = overall
productName = test

fileSystemScan = true

python.pipPath=pip3
